<div class="rusuario">
    <form (ngSubmit)="onSubmit()" class="form">
        <p class="title">Recupera Contraseña</p>

        <div class="flex">
            <label>
                <input class="input" type="text" placeholder="Usuario" id="olvideNombre" [(ngModel)]="olvideData.NombreUsuario" name="olvidename" required>
              
            </label>
        </div>

        <p *ngIf="registroError" class="errorMessage">{{ registroError }}</p>
        <button class="submit button-continue" type="submit">Continuar</button>

        <div *ngIf="mostrarCampos">
            <label>
                <input class="input input-nueva-contrasena" type="password" placeholder="Nueva Contraseña" [(ngModel)]="nuevaContrasena" name="nuevaContrasena" required>
         
            </label>
            <label>
                <input class="input" type="password" placeholder="Confirmar Contraseña" [(ngModel)]="confirmarContrasena" name="confirmarContrasena" required>
                
            </label>
            <button class="submit" type="button" (click)="restablecerContrasena()">Restablecer Contraseña</button>
        </div>

        <p class="signin">¿Ya tienes una cuenta? <a href="/login">Inicia Sesión</a></p>
    </form>
</div>

