<div class="contenedor-principal">
  <div class="contenedor-login">
      <form (ngSubmit)="onSubmit()">
        <p id="encabezado">Iniciar Sesión</p>
        
        <div class="campo">
          <input class="campo-entrada" type="text" placeholder="Nombre de usuario" [(ngModel)]="loginData.NombreUsuario" name="username" required />
        </div>
        
        <div class="campo">
          <input class="campo-entrada" type="password" placeholder="Contraseña" [(ngModel)]="loginData.Password" name="password" required />
        </div>
        
        <p *ngIf="errorMessage" class="errorMessage">{{ errorMessage }}</p>
        
        <div class="botones">
          <button class="boton1" type="submit">Iniciar Sesión</button>
          <button class="boton2" type="button" (click)="cambiaRegistro()">Registrarse</button>
        </div>
        
        <button class="boton3" type="button" (click)="cambiaOlvidarPassword()">Olvidé mi Contraseña</button>
      </form>
  </div>
</div>  
  
 